html{
    font-size: 10px;
    width: 100vw;
    height: 100vh;
    background-color: white;

}

/************************************MATCH BODY **********/
body{
    height: 100%;
    min-height: 100%;
    background-color: #F2F2F2;
}

.match-container{
    width: 100%;
    height: 91%;
    position: relative;
    background-color: #F2F2F2; 
    overflow-y: auto;    
}
/************************************TITLE**********/

.title-bar{
    width: 100%;
    height: 5rem;
    background-color: #A2D3DA;
    font-size: 3em;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
    padding-top: 1%;
}

.no-goals, .no-users{
    font-size: 1.8rem;
    padding-top: 3%;
}

.matchedUser {
    height: 2.5rem;
    width: 100%;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-align: center;
    border-bottom: 1px solid black;
    display: flex;
    background-color: rgba(162, 211, 218, 0.8);
}

.matched,
.all,
.selection{
    width: 50%;
    background-color: rgba(162, 211, 218, 0.5);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 24px;
}
.matched,
.selection{
    border-right: 1px solid white;
}

.matched{
    background-color: rgb(82, 145, 155);
    color: rgb(242, 197, 118);
}

/************************************MATCH SECTION **********/

.match-list{
    height: 90%;
    display: inline-flex;
    flex-direction: column;
    /* overflow-y: auto;  */
    width: 100%;
}

.matched-users,
.all-users,
.selectionDiv{
    width: 100%;
    height: 100%;
}

/************************ MATCHED USERS ***********************/

.matched-users-cotainer{
    display: inline-block;
    width: 94%;
    height: 100%;
    margin: 0;
}

.arrow-left{
    width: 5%;
    height: 100%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.arrow-left i{
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    font-size: 3rem;
    box-shadow: 2px 0px 15px 5px rgba(255, 255, 255);
}


.user-names{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.user-name{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
}

.partner-goal-description{
    width: 100%;
    display: inline-flex;
}

.usernameDiv{
    width: 25%;
}

i.material-icons.usericon {
    vertical-align: top;
    margin-right: 3px;
}

.actualGoalDiv{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-left: 5px;
}

/************************  SELECTION ***********************/

.selection-users-container{
    display: inline-block;
    width: 89%;
    height: 100%;
    margin: 0;
}

.back-to-match{
    width: 5%;
    height: 100%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.back-to-match i{
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    font-size: 4rem;
    box-shadow: 2px 0px 15px 5px rgba(255, 255, 255);
}

.to-users{
    width: 5%;
    height: 100%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.to-users i{
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    font-size: 3rem;
    box-shadow: 2px 0px 15px 5px rgba(255, 255, 255);
}

.selected-you{
    width: 100%;
    height: 50%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto
}

.selected-users{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto
}

.selected-you .header,
.selected-users .header{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0.8rem 0;
    color: rgb(82, 145, 155);
}

.selected-you .instruction,
.selected-users .instruction{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.3rem;
    margin: 0.5rem 0;
    color: rgb(82, 145, 155);
}


/************************ ALL USERS ***********************/
.arrow-right{
    width: 5%;
    height: 100%;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

.arrow-right i{
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    font-size: 4rem;
    box-shadow: 2px 0px 15px 5px rgba(255, 255, 255);
}

.all-users-cotainer{
    display: inline-block;
    width: 94%;
    height: 100%;
    margin: 0;
}

.selection-users-container .message {
    font-family: 'Roboto', sans-serif;
    width: 68%;
    margin: 8% auto;
    padding: 5%;
    background-color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.7;
}

.user-container{
    width: 19%;
    margin-left: 4%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    position: relative;
}

.user-description {
    /* background-color: rgba(162, 211, 218, 0.5); */
    background-color: rgba(242, 197, 118, 0.6);
    width: 100%;
    padding: 4% 5%;
    font-family: 'Roboto', sans-serif;
    hyphens: auto;
    color: white;
    position: relative;
    top: 0;
    font-size: 1.5rem;
}

.user-names{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.user-names .instruction{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.user-name{
    margin-top: 1px;
    margin-bottom: 0;
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
}



/**********INDIVIDUAL MATCHES**********/
.goal-container{
    width: 25%;
    margin-left: 4%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
}

.goal-container-goals{
    width: 90%;
    margin-left: 9%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    position: relative;
}


.goal-description{
    background-color: rgba(162, 211, 218, 0.5);
    width: 100%;
    padding: 4% 5%;
    font-family: 'Roboto', sans-serif;
    hyphens: auto;
    /* color: white; */
    color: rgba(0,0,0,0.8);
    position: relative;
    top: 0;
    font-size: 1.6rem;
    font-weight: 600;
}

.profileImg{

}

.profileImg img{
    height: 100%;
    width: 100%;
}


/**********INDIVIDUAL BUTTONS**********/

.button-container{
    width: 100%;
    position: relative;
}
.goal-button{
    width: 100%;
    background-color: #FFE2A8;
}

.button-container > .dropdown-content {
    /* background-color: #FFE2A8;  */
    background-color: #F2F2F2;
}

.button-container > .dropdown-content li:hover{
    background-color: #FFE2A8; 
}

.button-container > .dropdown-content li {
    text-align: center;
}

.button-container > .dropdown-content li > a > i{
    float: none;
    margin: 0;
    
}

/************************************END - GOAL SECTION **********/



/************************************FOOTER**********/


.footer-container{
    height: 9%;
    border-top: 1px rgb(87, 87, 87) solid;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    background-color: #A2D3DA
}

nav{
    background-color: #A2D3DA;
    height: 100%;
}

.footer-items{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; 
}

nav ul li{
    width: 25%;
}

.footer-items a i{
    font-size: 3rem;
    vertical-align: 100%;
}

i.large.material-icons:hover {
    background-color: rgba(255,226,168,0.8);
}

a.btn-floating.btn-large{
    width: 50px;
    height: 50px;
}
i.large.material-icons{
    font-size: 2.5rem;
}

.chat-btn{
    position: absolute;
    bottom: 2%;
    right: 5%;
}
/************************************END - FOOTER**********/

.hidden{
    display: none;
}

.show{
    display: block;
}
p.user-name.truncate {
    overflow-x: hidden;
}



/**************************************************************/
/************************* Responsive *************************/
@media only screen and (min-width : 320px) {

    .title-bar {
        height: 3rem;
        font-size: 1.8rem;
        padding-top: 0%;
    }
    .matchedUser {
        height: 2rem;
        font-size: 1rem;
        padding-top: 2px;
    }
    .match-list{
        height: 94%;
    }
    .arrow-left i,
    .to-users i,
    .arrow-right i,
    .back-to-match i{
        font-size: 2rem;
    }

    .no-goals, .no-users{
        font-size: 1rem;
    }
    button.dropdown-button.dropdown-trigger.goal-button.material-icons {
        font-size: 10px;
    }
    .footer-container{
        height: 3.5rem;
    }
    .footer-items a i {
        font-size: 2rem;
        height: 35px;
        line-height: 35px;
    }
    a.btn-floating.btn-large{
        width: 27px;
        height: 27px;
        line-height: 27px;
    }
    i.large.material-icons{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width : 480px){
    .title-bar {
        height: 3rem;
        font-size: 2rem;
        padding-top: 0%;
    }
    .matchedUser {
        height: 1.5rem;
        font-size: 0.9rem;
        padding-top: 2px;
    }
    .goal-list{
        height: 94%;
    }
    .match-list{
        height: 87%;
    }
    .arrow-left i,
    .to-users i,
    .arrow-right i,
    .back-to-match i{
        font-size: 3rem;
    }

    .no-goals, .no-users{
        font-size: 1.5rem;
    }
    button.dropdown-button.dropdown-trigger.goal-button.material-icons {
        font-size: 15px;
    }
    .footer-container{
        height: 4.5rem;
    }
    .footer-items a i,
    .arrow-right i,
    .back-to-match i {
        font-size: 2.2rem;
        height: 40px;
        line-height: 40px;
    }
    a.btn-floating.btn-large{
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    i.large.material-icons{
        font-size: 2rem;
    }
}

@media only screen and (min-width: 600px){
    body{
        max-width: 600px;
        margin: 0 auto;
    }
    .title-bar{
        height: 5rem;
        font-size: 3rem;
    }
    
    .matchedUser {
        height: 2.5rem;
        font-size: 1.3rem;
    }
    .match-list{
        height: 90%;
    }
    .arrow-left i,
    .to-users i,
    .arrow-right i,
    .back-to-match i{
        font-size: 3rem;
    }

    .no-goals, .no-users{
        font-size: 1.8rem;
    }
    button.dropdown-button.dropdown-trigger.goal-button.material-icons {
        font-size: 20px;
    }

    .footer-container{
        height: 9%;
    }
    .footer-items a i{
        font-size: 3rem;
    }
    a.btn-floating.btn-large{
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    i.large.material-icons{
        font-size: 2.5rem;
    }
}